<footer class="main-footer">
  <div class = "container-fluid">
      <nav class="footer-nav">
          
          <a href = "https://www.linkedin.com/in/abasibiangake-james-0889a7150/" class="social-link">
              <i class="fab fa-linkedin"></i> Linkedin
          </a>
          <a href = "#" class="social-link">
              <i class="fab fa-twitter"></i> Twitter
          </a>
          <a href = "https://github.com/Abasibiangake" class="social-link">
              <i class="fab fa-github"></i> Github
          </a>
      </nav>
  </div>
</footer>