/* body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: blue;
}

a {
  color: #00B7FF;
} */

body {
  margin:0;
  height: 100vh;
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: medium;
  background-color: aqua;
  /* background-image: url(../images/background-one.jpg); */

    
} 
